@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

.workout-card {
    width: 100%; 
}

.chart-container {
    height: 450px; 
}  


@media (max-width: 640px) {
    .workout-card {
        width: 90%; 
    }

    .chart-container {
        height: 300px;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    .workout-card {
        width: 60%; 
    }

    .chart-container {
        height: 400px; 
    }
}

@media (min-width: 768px) {
    .workout-card {
      height: 100%;
    }

    .chart-container {
        height: 500px; 
    }
}


@media (min-width: 1440px){
  
}




@media (min-width: 2560px) {
  .workout-card {
    width: 100%; 
    height: 650px;
  }

  .workout-btn {
    width: 12%;
    height: 65px;
    font-size: 22px;
  }

  .chart-container {
    height: 700px;
    font-size: 29px;
  }
  
  .sidebar {
    font-size: 30px;
    width: 30%;
  }

  .profile {
    height: 35vh;
  }

  .prof-img {
    width: 15vw;
    height: 18vh;
  }

  .img {
    width: 800px;
    height: 35vh;
  }

  .Home {
    height: 50vh;
  }

  .name, .logout {
    font-size: 28px;
  }

  .message {
    font-size: 36px;
  }

  .start-btn {
    width: 20vw;
  }

.home-text {
  font-size: 29px;
}

.home-texts {
  font-size: 38px;
}

  .profiles {
    /* width: 15vw; */
  }

  .nav {
    font-size: 25px;
  }


  .btns {
    width: 30vw;
    height: 14vh;
  }
}
